/.bash_history
/.bashrc
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.ollama
/.vscode
/.zsh_history
/.zshrc
/.condarc
/.config
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful